.main-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0 5% 0;
  background-color: #ffffff;
}

.header {
  font-family: Roboto;
}

table {
  width: 80vw;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 10px;
}

th:first-child,
td:first-child {
  padding-left: 20px;
}

table,
td {
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-family: Roboto;
}

thead,
tfoot {
  background-color: #0066b2;
  color: #fff;
}

tbody tr:hover {
  background-color: lightgray;
}

tr {
  height: 40px;
}

.loader-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
}

.text-style {
  height: 40px;
  width: 150px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  background-color: #da1884;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.fa {
  text-align: center;
}

.btn-box {
  width: 80%;
  text-align: right;
}
