.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0 5% 0;
  background-color: #ffe6e6;
}

table {
  width: 80vw;
  border-collapse: collapse;
}

th {
  text-align: left;
}

table,
td {
  border: none;
}

thead,
tfoot {
  background-color: #ff9999;
  color: #fff;
}

tr:hover {
  background-color: #ffb3b3;
}

tr {
  height: 40px;
}

.loader-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
}

.text-style {
  color: #ff9999;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  width: 80vw;
  text-align: right;
}

.fa {
  text-align: center;
}

@media screen and (max-width: 576px) {
  table {
    width: 100vw;
  }
}
